* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sport";
}

.body {
  background-color: #F5F5DC;
}

@font-face {
  font-family: "sport";
  src: url("../fuentes/sport.ttf");
}
header {
  background-color: #F5F5DC;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}
.header-container .titulos {
  font-size: 24px;
  color: #8B4513;
  margin: 0;
}
.header-container .nav {
  display: flex;
}
.header-container .nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.header-container .nav .menu .menu-item {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .header-container .nav {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-container .nav .menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-container .nav .menu .menu-item {
    width: 100%;
    text-align: left;
    margin: 5px 0;
  }
}
footer {
  background-color: #F5F5DC;
  padding: 0;
  text-align: bottom;
  position: sticky;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 0;
}
.footer-container .social-media a {
  margin: 0 10px;
  display: inline-block;
}
.footer-container .social-media a img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
}
.footer-container .contact-info {
  margin-top: 15px;
}
.footer-container .contact-info p {
  margin: 5px 0;
}
.footer-container .contact-info a {
  color: #8B4513;
  text-decoration: none;
}
.footer-container .contact-info a:hover {
  text-decoration: underline;
}

.contenedorinicio {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "p1 foto1 foto2" "p1 foto3 foto4";
}
@media (max-width: 768px) {
  .contenedorinicio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "p1" "foto1" "foto2" "foto3" "foto4";
  }
}
.contenedorinicio .p1 {
  grid-area: p1;
  background-color: #ceb687;
  padding: 1rem 1rem;
  background-image: url("../img/fotomesa.jpg");
  filter: brightness(0.7) grayscale(50%) sepia(30%);
  display: flex;
  flex-direction: column;
}
.contenedorinicio .foto1 {
  grid-area: foto1;
  background-color: #eed5a5;
  background-image: url("../img/foto1.png");
  filter: brightness(0.7) grayscale(50%) sepia(30%);
  text-decoration: none;
  color: #2F4F4F;
  font-weight: bold;
  transition: color 0.3s;
}
.contenedorinicio .foto2 {
  grid-area: foto2;
  background-color: #8f7a4e;
  background-image: url("../img/espejobanco.jpg");
  filter: brightness(0.7) grayscale(50%) sepia(30%);
}
.contenedorinicio .foto3 {
  grid-area: foto3;
  background-color: #8f7a4e;
  background-image: url("../img/banquito.jpg");
  filter: brightness(0.7) grayscale(50%) sepia(30%);
}
.contenedorinicio .foto4 {
  grid-area: foto4;
  background-color: #eed5a5;
  background-image: url("../img/foto2.png");
  filter: brightness(0.7) grayscale(50%) sepia(30%);
}
.contenedorinicio .hijo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links {
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

.contenedornos {
  display: grid;
  height: auto;
  padding: 1rem 2rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fotoc p2";
}
@media (max-width: 768px) {
  .contenedornos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "fotoc" "p2";
  }
}
.contenedornos .hijo2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contenedornos .fotocarpintera {
  grid-area: fotoc;
  width: 700px;
  justify-content: center;
  align-items: center;
  filter: brightness(0.7) grayscale(50%) sepia(30%);
}
.contenedornos .p2 {
  grid-area: p2;
  border-color: #2F4F4F;
  border-width: medium;
  border-style: solid;
  margin: 50px;
  padding: 1rem;
}
.contenedornos img {
  width: 100%;
  height: auto;
}
.contenedornos .linksinicio {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  transition: color 0.3s;
}
.contenedornos .titulo1 {
  display: flex;
  color: white;
  background-color: #2F4F4F;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.containercontacto {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.contact-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  margin-top: 20px;
  background-color: #2F4F4F;
  color: #eed5a5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #273d3d;
}

.contact-info,
.social-media {
  margin-top: 20px;
  padding: 2rem;
  margin-right: 150px;
}

.map {
  margin-top: 20px;
}

.social-media a {
  margin-right: 10px;
  color: #2F4F4F;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

.maincontacto {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-item {
  background-color: #2F4F4F;
  color: #eed5a5;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 1 100%;
  }
}
.image-container {
  display: flex;
}

.full-width-image {
  width: 50%;
  height: auto;
}

.img-container {
  display: flex;
  width: 100%;
}

.cuadrosimg {
  width: 50%;
  height: 700px;
}

.pcentralnosotros {
  text-align: center;
  padding: 2rem;
}

.links {
  text-decoration: none;
  color: #2F4F4F;
  font-weight: bold;
  transition: color 0.3s;
}

ol {
  text-align: center;
}

li {
  margin-bottom: 10px;
}

.containercontacto {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.fotosp {
  filter: brightness(0.7) grayscale(10%) sepia(30%);
}

.titulop {
  display: flex;
  color: white;
  background-color: #2F4F4F;
  justify-content: center;
  padding: 3rem;
  margin-right: 10px;
}

.titulo1 {
  display: flex;
  color: white;
  background-color: #2F4F4F;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fotosp {
  filter: brightness(0.7) grayscale(10%) sepia(30%);
}

.titulop {
  display: flex;
  color: white;
  background-color: #2F4F4F;
  justify-content: center;
  padding: 3rem;
  margin-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 2rem;
}

.card {
  background-color: #F5F5DC;
  border: 1px solid #2F4F4F;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-image {
  width: 100%;
  padding: 20px;
  background-color: #2F4F4F;
  border-bottom: 2px solid #1c2f2f;
}

.card-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #F5F5DC;
}

.card-text {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */