.image-container {
    display: flex;
  }
  
  .full-width-image {
    width: 50%;
    height: auto;
  }
  
  .img-container {
    display: flex;
    width: 100%;
  }
  
  .cuadrosimg {
    width: 50%;
    height: 700px;
  }